doctype html
html( ng-app )
  head
    title= title
    link( rel = 'stylesheet', href = '/stylesheets/style.css' )
    link( rel = 'stylesheet',
      href = '/vendor/bootstrap/dist/css/bootstrap.css' )
  body
    block content

    script( src = '/vendor/angular/angular.min.js' )
    script( src = '/vendor/bootstrap/dist/js/bootstrap.min.js' )